extends inputlayout

block content

  h1= title
  p Welcome to #{title}
  nav.navbar.navbar-inverse(role="navigation")
    ul.nav.navbar-nav.col-sm-12.col-xs-12
        li.active
            a(href="/") Home
        li
            a(href="/Product") Product
        li
            a(href="/input") Input
            span.sr-only (current)
  br
  div
   div
    p Product ID:
    input(type="text", id="prdID", name="prdID")
   div
    p Product Name:
    input(type="text", id="prdName", name="prdName")
   div
    p Description/Tagline:
    input(type="text", id="prdDesc", name="prdDesc")
   div
    p Features:
    textarea(name="prdFtr", id="prdFtr")
   div
    p Price:
    input(type="text", id="prdPrice", name="prdPrice", value="$0.00")
   div
    p Product Image:
    input(type="file", id="prdImg", name="prdImg")
   div(id="submit")
    input(type="button", id="prdSubmit", name="prdSubmit", value="Submit")
    
   div
    ul(id="uploadStatus")
  
  div.jumbotron.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1(style='margin-top:25px')
    p This is place to put content. You can put slider, short description about your website and place some links for navigation.